.bodyback{

    width: auto;
    height: 100vh;
    padding: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
}